#command-ui {
  margin-left: 8px;

  .title {
    margin-bottom: 8px;
  }

  select {
    padding: 4px;

    &:disabled {
      color: initial;
    }
  }

  #ok {
    margin-top: 8px;
    padding: 4px 16px;
    border-radius: 4px;
    background: #fff;
  }
}