@import './container.scss';
@import './env/boxes.scss';
@import './bot/hand.scss';
@import './bot/command-ui.scss';

html,
body {
  margin: 0;
  padding: 0;
  background: #eee;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

#stage {
  position: relative;
  width: 600px;
  height: 600px;
  min-width: 600px;
  border: 1px solid #222;
  border-radius: 1px;
  overflow: hidden;

  .floor {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: var(--floor-width);
    height: 60px;
    line-height: 60px;
    transform: translateX(-50%);
    background: #222;
    border-radius: 1px;
    color: #aaa;
    text-align: center;
  }
}